use axum::Router;

{% for service in config.spec.services %}
pub mod {{ service.name | snake_case }};
{% endfor %}

pub mod error;

pub async fn routes() -> Router {
    let mut router = Router::new();

    {% for service in config.spec.services %}
    router = router.merge({{ service.name | snake_case }}::routes().await);
    {% endfor %}

    router
}
